extends layout

block content
  .sk-folding-cube.js-loader
    .sk-cube1.sk-cube
    .sk-cube2.sk-cube
    .sk-cube4.sk-cube
    .sk-cube3.sk-cube


  ledmatrix-app.u-hide(unresolved)

  .instructions
    h4
      ='Shortcuts'
    p LMB -> foreground color<br>RMB -> background color<br>w -> write<br>e -> erase<br>x -> switch foreground/background<br>s -> save image

    p This project is still in a alpha state, i am collecting feedback and i would be very greatful if you could fill in this short survey <a href="https://goo.gl/forms/Zw2dYFmoSuvx4YIA2">https://goo.gl/forms/Zw2dYFmoSuvx4YIA2</a>


  .modal.u-hide
    .modal--content
      h2
        ='Connection lost please refresh your browser'
